.post-box {
  padding-top: 5px;
}

@media only screen and (max-width: 600px) {
  .post-box {
    margin-left: 16px;
    margin-right: 16px;
  }
}

.post-box:hover {
  transition: transform 0.2s; /* Animation */
  transform: scale(1.01);
}

.post-title {
  color: white;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: antiquewhite;
}
