@media only screen and (min-width: 100px) {
    .post-container {
        width: 90%;
    }
}

@media only screen and (min-width: 600px) {
    .post-container {
        width: 80%;
    }
}

.post-container {
    margin-right: auto; 
    margin-left: auto;
    padding-top: 3px;
}

/* Aligns at the center */
.youtube-link, .image-link {
    text-align: center;
    padding-bottom: 10px;
}

.text-bolded {
    font-weight: bold;
    font-size: 1.2rem;
}

.text, .quote {
    font-size: 1.1rem;
    line-height: 1.5;
}

.quote {
    padding-left: 15px;
    border-left: 2px solid white;
    font-style: italic;
}