.post-box {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;

    text-align: center;
}

.post-box:hover {
    transition: transform .2s; /* Animation */
    transform: scale(1.02);
}

.post-title {
    color: white;
}